<form [formGroup]="frmFiltro">
  <div class="row">
    <div class="col-sm">
      <label for="cliente">Nome do Cliente</label>
      <input type="text" class="form-control" id="cliente" formControlName="nome">
    </div>
    <div class="col-sm">
      <label for="status">Status</label>
      <select class="form-control" id="status" formControlName="status">
        <option value="T">Todos</option>
        <option value="D">Devolvidos</option>
        <option value="L">Locados</option>
      </select>
    </div>
  </div>
</form>
<p *ngIf="locacoesFiltradas.length === 0">Nenhuma locação efetuada</p>
<div *ngIf="locacoesFiltradas.length > 0">
  <table class="table" style="margin-top: 15px;">
    <thead>
      <tr>
        <th scope="col">Filme</th>
        <th scope="col">Cliente</th>
        <th scope="col">Data Locação</th>
        <th scope="col">Data Devolução</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let locacao of locacoesFiltradas">
        <td>{{locacao.filme}}</td>
        <td>{{locacao.cliente}}</td>
        <td>{{locacao.dataLocacao.split(' ')[0]}}</td>
        <td>{{locacao.dataDevolucao ? locacao.dataDevolucao.split(' ')[0] : ' - '}}</td>
        <td *ngIf="!locacao.dataDevolucao">
          <button (click)="devolucao(locacao)">Fazer Devolução</button>
        </td>
        <td *ngIf="locacao.dataDevolucao">
          Filme já devolvido
        </td>
      </tr>
    </tbody>
  </table>
</div>